body {
    background: url('background.jpg') no-repeat;
    background-size; cover; 
    font-family: sans-serif;
    color: darkgrey; 
}
.nav ul {
   margin: 2px;
    padding: 2px;
    list-style: none;    
}

.nav ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
.nav ul li a:hover {
    background-color: aqua; 
}
.nav ul li ul li {
    display: none;
}
.nav ul li:hover ul li{
    display: block;
}
