@font-face {
    font-family: RobertSlab; 
    src: url("RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: SpaceMono;
    src: url("SpaceMono-BoldItalic.ttf");
}

@font-face {
    font-family: BioRhymeLight;
    src: url("BioRhymeLight.ttf");
}

@media print {
    * {
        background: transparent !important; 
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important; 
    }
    
    .heading {
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
   
    nav {
        display: none;
    }
    
    @page {
        margin: 1in;
    }
    
    p, ul {
        font-size: 9pt;
    }
    
    
}

body {
    width: 95%;
    margin: auto;
}

p, ul {
    font-family: sans-serif;
}

blockquote {
    font-family: SpaceMono;
}

.heading {
    font-family: sans-serif; 
    color: #FFFFFF;
    text-align: center;
    padding: 15px 1.5625%;
    width: 96.875%;
    display: grid;
} 

main { 
    display: grid; 
}

footer {
    background-image: url(Footer-Background.png); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Sanserif;
    color: black;
    text-align: right;
    padding-bottom: 20px;
    
}

.nav {
    grid-column: col / span 4;
    grid-row: row ;
    font-family: Serif;
  }

.icon {
    transition: transform 1s;
}

.icon:hover {
    transform: scale(2);
}

/*Index Grid*/

.aboutsite {
    grid-column: col;
    grid-row: 1; 
    font-family: BioRhymeLight;
}

.purpose {
    
    grid-column: col; 
    grid-row: 4; 
}

/*About Grid*/

 .aboutheadshot {
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 25px;
        padding: 50px;
        max-width: 65%;
        height: auto;
        grid-column: col; 
        grid-row: row 2;
} 

.aboutme {
    grid-column: col 2 / span 1 ;
    grid-row: row 2 ;
  }

 .amheading {
    grid-column: col 2 / span 1 ;
    grid-row: row ;
    font-family: sans-serif;
  }

  .credentials {
    grid-column: col / span 1 ;
    grid-row: row 5;
  }

.iframe-container {
    grid-column: col 2 / span 1;
    grid-row: row 5;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
  .eo {
    grid-column: col / span 1 ;
    grid-row: row 4 ;
    font-family: BioRhymeLight;
  }

 .blockquote {
    grid-column: col 2 / span 1 ;
    grid-row: row 3 ;
  }

/*Learn Grid*/
.observationheading {
    grid-column: col1;
    grid-row: row1;
    font-family: RobertSlab;
    color: darkgrey;
}

.iframe-container obs {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    padding: 50px;
    max-width: 65%;
    height: auto;
    grid-column: col1;
    grid-row: row 2;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.observationp {
    grid-column: col 2;
    grid-row: row 2;
}

.graphheading {
    grid-column: col1;
    grid-row: row 3;
    font-family: RobertSlab;
    color: darkgrey;
}

.iframe-container gr {
    float:left;
    grid-column: col1;
    grid-row: row 4;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.graphingp {
    grid-column: col 2;
    grid-row: row 4;
}

.cejheading {
    grid-column: col1;
    grid-row: row 5;
    font-family: RobertSlab;
    color: darkgrey;
}

.iframe-container cej {
    grid-column: col1;
    grid-row: row 6;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cejp {
    grid-column: col 2;
    grid-row: row 6;
}



/*Reflection Grid*/

.workscited {
    grid-column: col;
    grid-row: row 1;
    text-align: center;
    font-family: BioRhymeLight;
}

.resources {
    grid-column: col;
    grid-row: row 2;
}

@media only screen and (max-width: 959px) {
     p {font-size: 1em;}
    ul {font-size: 1em;}
    blockquote {font-size: 1em;}
    h1 {font-size: 2em;}
    h2 {font-size: 1.75em}
    h3 {font-size: 1.5em}
    
    
}

@media only screen and (max-width: 767px) {
    p {font-size: .75em;}
    ul {font-size: .75em;}
    blockquote {font-size: .75em;}
    h1 {font-size: 1.75em;}
    h2 {font-size: 1.5em;}
    h3 {font-size: 1.25em}
    
    
}

@media only screen and (max-width: 500px) { 
    p {font-size: .5em;}
    ul {font-size: .5em;}
    blockquote {font-size: .5em;}
    h1 {font-size: 1.5em;}
    h2 {font-size: 1.25em;}
    h3 {font-size: 1em}
    
    
}
